/* Globals */
a,a:focus,a:hover{color:#fff;}
html,body{background-color:#e8d9d9; margin-top: 10px; display: -ms-flexbox; width: 100%;}
body{color:#ff8095;text-align:center;}
.hide{display:none;}
.landing-heading{color: rgba(47, 9, 68, 0.678); font-size: 50px; font-family:"IBM Plex Mono", "Fira Mono", monospace; font-weight:500; margin: 5%;}
.panel-landing{background-color: #1b161623 ; text-align: center; border:2px solid grey; border-radius: 2rem; margin-left: 35%; margin-right: 35%; margin-top: 18%;}
li{list-style-type: none; margin: 3px; margin-bottom: 5px;}

/* Buttons */
.btn{font-family:"IBM Plex Mono", "Fira Mono", monospace;padding:0.5625rem 2.5rem; font-size:0.8125rem; font-weight:400;line-height:1.75rem;border-radius:5rem!important;-webkit-transition:all .2s ease-in-out;-moz-transition:all .2s ease-in-out;-ms-transition:all .2s ease-in-out;-o-transition:all .2s ease-in-out;transition:all .2s ease-in-out;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;}
.btn-lg{text-align: center; font-weight: 500; font-family: "IBM Plex Mono", "Fira Mono", monospace; font-size: 20px;}
.btn:focus,.btn:active:focus,.btn.active:focus{outline:none;}
.btn-primary{background-color:#6610f2;border:1px solid #3700FF;}
.btn-primary:hover,.btn-primary:focus,.btn-primary:active{color:#fff;border:1px solid #270F34;background-color:#270F34;}
.app-title{align-items: center; padding:15%;}
.sign-in-blockstack{align-items: center; padding: 15%;}
.btn-mar{align-content: center; background: linear-gradient(#6610f2 30%, #6f42c1 70%); border-radius: 5rem; border:none; box-shadow: 0, .5rem 1rem rgba(0,0,0,0.15);}
.work-space{margin-top: 5px;display: inherit;}
.new-doc-btn{padding: 5px !important; font-weight: bolder; border: 1px solid grey; background-color: rgb(143, 176, 180); margin-left: 5px;} 
.btn-outline-secondary{ display: inline; }
.input-group-prepend, .input-group-append {display: inline-flex;}
.form-control{ width: 35%; border-radius: 1rem !important; background-color: lavender;}

/* Popups */
#popups{
    top: 0; right: 0; bottom: 0; left: 0;
    display: inline-flex;
    align-content: center;
    position: fixed;
    background-color: rgba(0,0,0,0.7);
    transition: .64s ease-in-out;
    z-index: 9999;
    overflow: auto;
}

#popup-content{
    width: auto;
    padding: 25px;
    background: seashell;   
    max-width: 650px;
    position: relative;
    margin:auto;
    border-radius: 8px;
    box-shadow: 0 0 6px rbga(0, 0, 0, 0.2);
    vertical-align: middle;
}

/* Profile Popup */
.profile-container{
    align-items: center;
    float: right;
}
.menu-container{
    align-items: left;
    float: left;
}

.drop-down-menu{
    align-items: left;
    float: right;
}

.profile-button{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 10px;
    box-sizing: border-box;
}

.popup{
    background: #e8d9d9;
    border-radius: 5px;
    position: absolute;
    z-index: 10;
}
.overlay{
    position: absolute;
    top: 6%;
    right: 0%;
    border: 2px solid grey;
    border-radius: 2rem;
    width: auto;
    float: right !important;
    text-align:center;
    align-items: center;
    background-color:#1b161623;
    z-index: 9999;
}

/* Menu Bar Button Popups */
.dropbtn{
    background-color: #c7adad;
    border: 1px solid black;
    border-radius: 10rem;
    margin-inline-start: 10px;
}

.externalbtn{
    background-color: #c7adadd7;
    border: 1px solid black;
    border-radius: 5rem;
    margin-inline-end: 10px;
    padding: 4px;
    padding-left: 7px;
    padding-right: 7px;
    font-weight: bold;
}

#dropdown{
    position: relative;
    float: left;
}
#dropdown-content{
    /* TODO: Change the look of the dropdown menu */
    display: none;
    position: absolute;
    background-color: rgb(94, 74, 74);
    min-width: 160px; 
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;      
    border-radius: 1rem;
}
#dropdown-content a{
    color: whitesmoke;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
#dropdown-content a:hover{
    background-color: lavender;
    color:black;
}
#dropdown:hover .menu-content{
    display: block;
}
#dropdown:hover .options-content{
    display:block;
}

/* Avatar */
.avatar{width:100px;height:100px; border-radius: 50%;}
.avatar-section{margin:25px;}
.lead{text-align: center;}
.username{color: rgba(47, 9, 68, 0.678);}

/* Scaffolding */
.site-wrapper{width:100%;height:100% !important}
.site-wrapper-inner{justify-content:center;margin-right:auto;margin-left:auto;}
.panel-authed{padding:0 0 0 0;}

/* Home button */
.btn-home-hello{position:absolute;font-family:'Source Code Pro',monospace;font-size:11px;font-weight:400;color:rgba(255,255,255,0.85);top:15px;left:15px;padding:3px 20px;background-color:rgba(255,255,255,0.15);border-radius:6px;-webkit-box-shadow:0px 0px 20px 0px rgba(0,0,0,0.15);-moz-box-shadow:0px 0px 20px 0px rgba(0,0,0,0.15);box-shadow:0px 0px 20px 0px rgba(0,0,0,0.15);}

/* Input */
input, textarea{color:#000;resize: none;;width: 500px;height: 800px}
input, text{width: 70px; height: inherit; padding: 0%;}
.input-group{ flex: none;}


#Text-section{color:#000; height: 500px;}
.input-status{width: 750px;}
.input-status2{width: 750px;}
#marksection{width: -webkit-fill-available; height: inherit !important; margin: 10px 10px; border-radius: 2%;}
#Fill-in-text{ display: inline-block;}
#Formatted-text{ display: inline-block;}
#signin-button{position: relative; text-align: center;}
#signout-button{position: relative ;left:0%;top:50%;}
#newSave{height: inherit;width: 200px;}
.switching-button{width: inherit; height: inherit; border: 1px solid burlywood;}
.delete-btn{width: auto; height: auto; border-radius: 5rem; margin-left: 4px;}

/* Markdown Editor */
.w-md-editor-content{height: 750px!important; border-radius:10%;}
.w-md-editor-aree{overflow: hidden !important;}
.w-md-editor-text{ margin: 0px !important; background-color:#ffece5; border-radius: 2%; border: 1px solid #94d1c2;}
.w-md-editor-preview{ white-space: break-spaces; background-color: #e5ecff; border-radius: 2%; border: 1px solid #94d1c2;}
.w-md-editor-text-pre, .w-md-editor-text-input{padding: 15px;}
#section-3{text-align: center !important;}
